{
    "plugins": [
        "prettier-plugin-blade"
    ],
    "overrides": [
        {
            "files": [
                "*.blade.php"
            ],
            "options": {
                "parser": "blade",
                "singleQuote": true,
                "printWidth": 200,
                "trailingComma": "all",
                "singleAttributePerLine": false,
                "bracketSameLine": true
            }
        }
    ]
}