body {
    overflow-y: hidden;
}
#scrollingContent {
    max-height: 100vh;
    overflow-y: hidden;
    scroll-behavior: linear;
}
#scrollingContent table {
    animation: marqueeAnimation 60s linear;
    transform-origin: 0% 0%;
    display: table;
    width: 100%;
}
span {
    font-size: 64px;
    font-weight: bold;
    color: #198754;
}
.padding{
    height: 600px; 
    z-index: 1; 
    position: relative;
}
thead {
    background-color: #198754;
    text-align: center;
}
tbody{
    text-align: center;
}
#scrollingContent table tbody {
    display: table-row-group;
}
#scrollingContent table tbody tr:nth-child(even) {
    background-color: #198754;
    color: white;
    }
@keyframes marqueeAnimation {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(calc(-300% + 300px));
  }
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #28a745;
    color: white;
    text-align: center;
    padding: 1rem;
}
@media (min-width: 768) {
    img{
        width: 150px;
    }
    span {
        font-size: 72px;
    }
}
@media (min-width: 1080px) {
    img{
        width: 120px;
    }
    span {
        font-size: 72px;
    }
    
}
@media (min-width: 2160px) {
    img{
        width: 300px;
    }
    span {
        font-size: 168px;
    }
    thead {
        font-size: 48px;
    }
    tbody{
        font-size: 48px;
    }
    .padding{
        height: 1000px; 
    }
}