span {
    font-size: 64px;
    font-weight: bold;
    color: #198754;
}
thead {
    background-color: #198754;
}
a {
    color: black;
}
@media (min-width: 768) {
    img{
        width: 150px;
    }
    span {
        font-size: 72px;
    }
}